<h1><%= @category.name%></h1>

<h3>Recipes:</h3>
<%= link_to "create recipe ", new_category_recipe_path(@category) %>
<ul>
  <% @category.recipes.each do |r|%>
    <li><%= link_to r.name, recipe_path(r)%></li>
  <% end %>
</ul>


